<div
	ngbDropdown
	placement="bottom-right"
	autoClose="outside"
	class="kt-header__topbar-item"
>
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span
			class="kt-header__topbar-icon"
			[ngClass]="{
				'kt-pulse kt-pulse--brand': pulse,
				'kt-pulse--light': pulseLight,
				'kt-header__topbar-icon--success': iconType === 'success'
			}"
		>
			<i *ngIf="!useSVG" [ngClass]="icon"></i>
			<span
				*ngIf="useSVG"
				class="kt-svg-icon"
				[ngClass]="{ 'kt-svg-icon--success': iconType === 'success' }"
				[inlineSVG]="icon"
			></span>
			<span class="kt-pulse__ring" [hidden]="!pulse"></span>
		</span>
		<span
			class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"
			[hidden]="!dot"
		></span>
	</div>

	<div
		ngbDropdownMenu
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg"
	>
		<form>
			<!--begin: Head -->
			<div
				class="kt-head kt-head--skin-{{
					skin
				}} kt-head--fit-x kt-head--fit-b"
				[ngStyle]="{ 'background-image': backGroundStyle() }"
			>
				<h3 class="kt-head__title">
					User Notifications&nbsp;
					<span class="btn btn-{{ type }} btn-sm btn-bold btn-font-md"
						>23 new</span
					>
				</h3>
				<ul
					ktTabClickEvent
					class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-{{
						type
					}} kt-notification-item-padding-x"
					role="tablist"
				>
					<li class="nav-item">
						<a
							(click)="tab.select('tab-id-1')"
							class="nav-link active show"
							data-toggle="tab"
							href="javascript:;"
							role="tab"
							aria-selected="true"
						>
							All
						</a>
					</li>
					<li class="nav-item">
						<a
							(click)="tab.select('tab-id-2')"
							class="nav-link"
							data-toggle="tab"
							href="javascript:;"
							role="tab"
							aria-selected="false"
							>Check-ins</a
						>
					</li>
					<li class="nav-item">
						<a
							(click)="tab.select('tab-id-3')"
							class="nav-link"
							data-toggle="tab"
							href="javascript:;"
							role="tab"
							aria-selected="false"
							>Orders</a
						>
					</li>
				</ul>
			</div>
			<!--end: Head -->

			<ngb-tabset #tab="ngbTabset">
				<ngb-tab id="tab-id-1">
					<ng-template ngbTabContent>
						<div
							[perfectScrollbar]="{ wheelPropagation: false }"
							[ngStyle]="{
								'max-height': '40vh',
								position: 'relative'
							}"
							class="kt-notification kt-margin-t-10 kt-margin-b-10"
						>
							<a
								*ngFor="let notification of notifications"
								href="javascript:;"
								class="kt-notification__item"
							>
								<div class="kt-notification__item-icon">
									<i
										class="{{ notification.icon }}"
										[ngClass]="
											notification.Type === 'Order'
												? 'kt-font-success'
												: ' kt-font-focus'
										"
									></i>
								</div>
								<div class="kt-notification__item-details">
									<div class="kt-notification__item-title">
										{{ notification.Text }}
									</div>
									<div class="kt-notification__item-time">
										{{ notification.Time }}
									</div>
								</div>
							</a>
							<div
								class="ps__rail-x"
								style="left: 0px; bottom: 0px;"
							>
								<div
									class="ps__thumb-x"
									tabindex="0"
									style="left: 0px; width: 0px;"
								></div>
							</div>
							<div
								class="ps__rail-y"
								style="top: 0px; right: 0px;"
							>
								<div
									class="ps__thumb-y"
									tabindex="0"
									style="top: 0px; height: 0px;"
								></div>
							</div>
							<div
								*ngIf="!notifications.length"
								class="kt-grid kt-grid--ver"
								style="min-height: 200px;"
							>
								<div
									class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle"
								>
									<div
										class="kt-grid__item kt-grid__item--middle kt-align-center"
									>
										All caught up!
										<br />No new notifications.
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="tab-id-2">
					<ng-template ngbTabContent>
						<div
							[perfectScrollbar]="{ wheelPropagation: false }"
							[ngStyle]="{
								'max-height': '40vh',
								position: 'relative'
							}"
							class="kt-notification kt-margin-t-10 kt-margin-b-10"
						>
							<span
								*ngFor="
									let notification of checkInNotifications
								"
							>
								<a
									href="javascript:;"
									class="kt-notification__item"
								>
									<div class="kt-notification__item-icon">
										<i
											class="{{
												notification.icon
											}} kt-font-focus"
										></i>
									</div>
									<div class="kt-notification__item-details">
										<div
											class="kt-notification__item-title"
										>
											{{ notification.Text }}
										</div>
										<div class="kt-notification__item-time">
											{{ notification.Time }}
										</div>
									</div>
								</a>
								<div
									class="ps__rail-x"
									style="left: 0px; bottom: 0px;"
								>
									<div
										class="ps__thumb-x"
										tabindex="0"
										style="left: 0px; width: 0px;"
									></div>
								</div>
								<div
									class="ps__rail-y"
									style="top: 0px; right: 0px;"
								>
									<div
										class="ps__thumb-y"
										tabindex="0"
										style="top: 0px; height: 0px;"
									></div>
								</div>
							</span>
							<div
								*ngIf="!checkInNotifications.length"
								class="kt-grid kt-grid--ver"
								style="min-height: 200px;"
							>
								<div
									class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle"
								>
									<div
										class="kt-grid__item kt-grid__item--middle kt-align-center"
									>
										All caught up!
										<br />No new notifications.
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="tab-id-3">
					<ng-template ngbTabContent>
						<div
							[perfectScrollbar]="{ wheelPropagation: false }"
							[ngStyle]="{
								'max-height': '40vh',
								position: 'relative'
							}"
							class="kt-notification kt-margin-t-10 kt-margin-b-10"
						>
							<span
								*ngFor="let notification of orderNotifications"
							>
								<a
									href="javascript:;"
									class="kt-notification__item"
								>
									<div class="kt-notification__item-icon">
										<i
											class="{{
												notification.icon
											}} kt-font-success"
										></i>
									</div>
									<div class="kt-notification__item-details">
										<div
											class="kt-notification__item-title"
										>
											{{ notification.Text }}
										</div>
										<div class="kt-notification__item-time">
											{{ notification.Time }}
										</div>
									</div>
								</a>
								<div
									class="ps__rail-x"
									style="left: 0px; bottom: 0px;"
								>
									<div
										class="ps__thumb-x"
										tabindex="0"
										style="left: 0px; width: 0px;"
									></div>
								</div>
								<div
									class="ps__rail-y"
									style="top: 0px; right: 0px;"
								>
									<div
										class="ps__thumb-y"
										tabindex="0"
										style="top: 0px; height: 0px;"
									></div>
								</div>
							</span>
							<div
								*ngIf="!orderNotifications.length"
								class="kt-grid kt-grid--ver"
								style="min-height: 200px;"
							>
								<div
									class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle"
								>
									<div
										class="kt-grid__item kt-grid__item--middle kt-align-center"
									>
										All caught up!
										<br />No new notifications.
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</form>
	</div>
</div>
