<!--    header Section-->
<section class="hero about-page">
	<div class="container">
		<div
			class="row align-content-center align-items-center justify-content-center"
		>
			<div class="col-md-12">
				<div class="hero-content-wrap">
					<div class="hero-text-content">
						<h4>Wij zijn Mijn Menu</h4>
						<p>
							Een vooruitstrevende start-up welke het beste voor u
							en uw gasten wilt. Samen met onze klanten bekijken
							we hoe we ons product elke dag kunnen verbeteren.
							Dit doen wij om ervoor te zorgen dat Mijn Menu
							voldoet aan uw behoeften en die van uw gasten.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--        shape-->
	<div class="section-shape">
		<img
			src="assets/media/landing-page-imgs/waves-shape.svg"
			alt="shape image"
		/>
	</div>
</section>
<!--    End of Brand Section-->

<section class="about-section">
	<div class="container">
		<div
			class="row align-items-center align-content-center justify-content-center"
		>
			<div class="col-md-6" [@slideInLeft]="slideInLeft">
				<div class="section-heading text-left">
					<h3>
						<span class="color-heading">Over ons,</span> Mijn Menu
					</h3>
					<p class="mb-3">
						Mijn Menu is een jonge onderneming gestart door drie
						vrienden. Tijdens een zonnige dag op het terras liepen
						we tegen wat kleine problemen aan. Het duurde lang
						voordat we konden bestellen, de menu kaart was doorweekt
						en we hadden niet genoeg contant geld bij om de rekening
						te delen. Op dat moment dachten we onder het genot van
						een biertje: ‘’Dit kan beter!’’. En zo werd Mijn Menu
						geboren.
					</p>
					<p>
						Mijn Menu biedt een digitale ruimte waarbij restaurants,
						lunchrooms, terrassen, grand-cafés , Lounges , hotels en
						vele andere horecagelegenheden zich bij kunnen
						aansluiten om het Menu en het restaurant online te
						publiceren op de mobiele app van Mijn Menu. Op deze
						manier krijgt de gebruiker overzicht in wat hij kan
						bestellen en krijgt het restaurant digitaal
						reserveringen, bestellingen en betalingen waardoor het
						personeel zich volledig kan richten op het bieden van
						service. Ook komt het chronisch personeelstekort dat
						heerst in de horeca minder onder druk te staan en kunnen
						serveerders zich volledig richten op het verlenen van
						service.
					</p>
					<div class="mt-3">
						<a
							href="mailto:info@mijn-menu.nl?SUBJECT=Aanvraag Demo"
						>
							Vraag nu een gratis demo aan!
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6" [@slideInRight]="slideInRight">
				<div class="about-feature-img">
					<img
						src="assets/media/landing-page-imgs/about-left-img.svg"
						alt="About Left Image"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
<!--    End of About Section-->

<section class="hospitality">
	<div class="container">
		<div
			class="row align-content-center align-items-center justify-content-center"
		>
			<div class="col-md-8">
				<div class="section-heading text-center">
					<h3 class="mb-3">
						<span class="color-heading">Service boven,</span>
						Alles
					</h3>
					<p>
						Bij Mijn Menu staat service hoog in het vaandel, meer
						tijd voor uw personeel, betere service, en impulsief
						bestelgedrag bevorderen.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End of hospitality-->
<section class="track">
	<div class="container-fluid">
		<div
			class="row align-items-center align-content-center justify-content-center"
		>
			<div class="col-md-6">
				<div class="track-section">
					<div class="section-heading text-left">
						<h3 class="mb-4">
							<span class="color-heading">
								Het menu altijd
							</span>
							en overal aanpassen
						</h3>
						<p class="mb-4">
							Met Mijn Restaurant heeft u altijd toegang tot het
							dashboard. Hier kun je gemakkelijk het menu
							aanpassen, elke aanpassing word direct doorgevoerd.
						</p>
					</div>
					<div class="mijn-menu-track">
						<div class="single-feature">
							<div class="feature-icon">
								<div class="icon icon-shape white-text">
									<i
										class="fa fa-arrow-right fa-feature-icon mt-1"
									></i>
								</div>
							</div>
							<div class="feature-content">
								<h5>
									Bereik uw klanten ook buiten je restaurant
								</h5>
								<p class="mb-0">
									Speel in op uw klanten door passende
									promoties toe te passen.
								</p>
							</div>
						</div>
						<!-- End of Single Feature-->
						<div class="single-feature">
							<div class="feature-icon">
								<div class="icon icon-shape white-text">
									<i
										class="fa fa-arrow-right fa-feature-icon mt-1"
									></i>
								</div>
							</div>
							<div class="feature-content">
								<h5>Inzichten</h5>
								<p class="mb-0">
									Alle data wordt verzameld en inzichtelijk
									gemaakt.
								</p>
							</div>
						</div>
						<!-- End of Single Feature-->
						<div class="single-feature">
							<div class="feature-icon">
								<div class="icon icon-shape white-text">
									<i
										class="fa fa-arrow-right fa-feature-icon mt-1"
									></i>
								</div>
							</div>
							<div class="feature-content">
								<h5>Complete controle</h5>
								<p class="mb-0">
									U bepaald hoe Mijn Menu voor u wordt
									ingezet.
								</p>
							</div>
						</div>
						<!-- End of Single Feature-->
					</div>
					<!--End of Mijn Menu Track-->
				</div>
			</div>
			<div class="col-md-6 no-padding">
				<div class="track-img">
					<img
						src="assets/media/landing-page-imgs/Intersection 1.svg"
						alt="Interaction"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
