<!--begin: Wizard -->
<div
	#wizard
	class="kt-grid kt-wizard-v1 kt-wizard-v1--white"
	id="kt_wizard_v1"
	data-ktwizard-state="step-first"
>
	<div class="kt-grid__item">
		<!--begin: Form Wizard Nav -->
		<div class="kt-wizard-v1__nav">
			<div class="kt-wizard-v1__nav-items">
				<a
					class="kt-wizard-v1__nav-item"
					href="javascript:;"
					data-ktwizard-type="step"
					data-ktwizard-state="current"
				>
					<div class="kt-wizard-v1__nav-body">
						<div class="kt-wizard-v1__nav-icon">
							<i class="flaticon-bus-stop"></i>
						</div>
						<div class="kt-wizard-v1__nav-label">
							1) {{ "WIZARD.SETUP.STEP_TITLE" | translate }}
						</div>
					</div>
				</a>
				<a
					class="kt-wizard-v1__nav-item"
					href="javascript:;"
					data-ktwizard-type="step"
				>
					<div class="kt-wizard-v1__nav-body">
						<div class="kt-wizard-v1__nav-icon">
							<i class="flaticon-list"></i>
						</div>
						<div class="kt-wizard-v1__nav-label">
							2) Enter Details
						</div>
					</div>
				</a>
				<a
					class="kt-wizard-v1__nav-item"
					href="javascript:;"
					data-ktwizard-type="step"
				>
					<div class="kt-wizard-v1__nav-body">
						<div class="kt-wizard-v1__nav-icon">
							<i class="flaticon-responsive"></i>
						</div>
						<div class="kt-wizard-v1__nav-label">
							3) Restaurant Features
						</div>
					</div>
				</a>
				<!-- <a
					class="kt-wizard-v1__nav-item"
					href="javascript:;"
					data-ktwizard-type="step"
				>
					<div class="kt-wizard-v1__nav-body">
						<div class="kt-wizard-v1__nav-icon">
							<i class="la la-dollar"></i>
						</div>
						<div class="kt-wizard-v1__nav-label">
							4) Mijn Menu Plus
						</div>
					</div>
				</a> -->
				<a
					class="kt-wizard-v1__nav-item"
					href="javascript:;"
					data-ktwizard-type="step"
				>
					<div class="kt-wizard-v1__nav-body">
						<div class="kt-wizard-v1__nav-icon">
							<i class="flaticon-globe"></i>
						</div>
						<div class="kt-wizard-v1__nav-label">
							4) Review and Submit
						</div>
					</div>
				</a>
			</div>
		</div>
		<!--end: Form Wizard Nav -->
	</div>
	<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">
		<div class="row">
			<div class="col-xl-9 offset-2"></div>
		</div>
		<!--begin: Form Wizard Form-->
		<form class="kt-form" id="kt_form">
			<kt-alert
				*ngIf="alert?.showAlert"
				[type]="alert?.type"
				[showCloseButton]="true"
				[duration]="10000"
				(close)="onAlertClose($event)"
			>
				{{ alert.message }}
			</kt-alert>
			<!--begin: Form Wizard Step 1-->
			<div
				class="kt-wizard-v1__content"
				data-ktwizard-type="step-content"
				data-ktwizard-state="current"
			>
				<mm-restaurant-setup #setup></mm-restaurant-setup>
			</div>
			<!--begin: Form Wizard Step 2-->
			<div
				class="kt-wizard-v1__content"
				data-ktwizard-type="step-content"
			>
				<mm-restaurant-details
					#details
					[validateTime]="validateTime"
				></mm-restaurant-details>
			</div>
			<!--end: Form Wizard Step 2-->

			<!--begin: Form Wizard Step 3-->
			<div
				class="kt-wizard-v1__content"
				data-ktwizard-type="step-content"
			>
				<mm-restaurant-features></mm-restaurant-features>
			</div>
			<!--end: Form Wizard Step 3-->

			<!--begin: Form Wizard Step 4-->
			<!-- <div
				class="kt-wizard-v1__content"
				data-ktwizard-type="step-content"
			>
				<mm-restaurant-billing-info></mm-restaurant-billing-info>
			</div> -->
			<!--end: Form Wizard Step 4-->

			<!--begin: Form Wizard Step 5-->
			<div
				class="kt-wizard-v1__content"
				data-ktwizard-type="step-content"
			>
				<mm-review-and-submit
					[timeslot]="details.timeSlotArray"
				></mm-review-and-submit>
			</div>
			<!--end: Form Wizard Step 5-->

			<!--begin: Form Actions -->
			<div class="kt-form__actions">
				<div
					class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
					data-ktwizard-type="action-prev"
				>
					Previous
				</div>
				<div
					(click)="
						!wizardService.editRestaurant.value
							? onSubmit()
							: updateRestaurant()
					"
					class="btn btn-label-light-blue btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
					data-ktwizard-type="action-submit"
				>
					{{
						!wizardService.editRestaurant.value
							? "Submit"
							: "Update"
					}}
				</div>
				<button
					*ngIf="wizards ? !wizards.isLastStep() : true"
					(click)="nextStep()"
					class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					Next Step
				</button>
			</div>
			<!--end: Form Actions -->
		</form>
		<!--end: Form Wizard Form-->
	</div>
</div>
<!--end: Wizard -->

<swal
	#wizardSwal
	[title]="swal.title"
	[text]="swal.text"
	[type]="swal.type"
	[showConfirmButton]="true"
	[confirmButtonText]="'Okay'"
	[swalOptions]="{ confirmButtonColor: '#ffa000' }"
	(confirm)="confirmSwal(swal)"
></swal>
