.kt-font-9 {
  font-size: 9px !important;
}

.kt-font-11 {
  font-size: 11px !important;
}

.kt-font-12 {
  font-size: 12px !important;
}

.kt-font-14 {
  font-size: 14px !important;
}

.kt-font-16 {
  font-size: 16px;
}

.kt-font-18 {
  font-size: 18px;
}

.kt-font-20 {
  font-size: 20px;
}

.kt-font-22 {
  font-size: 22px;
}

.kt-font-24 {
  font-size: 24px;
}

.kt-font-28 {
  font-size: 28px;
}

.kt-font-30 {
  font-size: 30px;
}

.kt-text-uppercase {
  text-transform: uppercase;
}
