<div class="container">
	<div
		class="row algin-items-center align-content-center justify-content-center"
	>
		<div class="col-md-12">
			<div class="margin-b">
				<h1 class="entry-title" style="text-align: center;">
					Cookiebeleid
				</h1>
				<p>&nbsp;</p>
				<p>
					Deze website gebruikt cookies die uw voorkeuren onthouden en
					het navigeren door de website van www.mijn-menu.nl te
					vergemakkelijken. Wij gebruiken cookies om je instellingen
					en voorkeuren te onthouden. Door middel van cookies kunnen
					we het gedrag van bezoekers analyseren en onze website
					verbeteren. Deze website wordt daarnaast ook gebruikt door
					derde partijen om cookies te plaatsen, zoals bijvoorbeeld
					Google Analytics of andere tools.
				</p>
				<p>
					Surft u verder op deze website, dan gaan accepteert de
					website dat als toestemming voor het plaatsen en gebruiken
					van onze cookies en die van derden. Wij bieden altijd de
					optie om niet-essentiële cookies te weigeren of je op een
					later moment te ontsluiten hiervan.
				</p>
			</div>
			<div class="margin-b">
				<h2>Wat zijn cookies?</h2>
				<p>
					Cookies zijn kleine bestanden die uw voorkeuren tijdens het
					surfen onthouden en via de door u gebruikte browser opslaan
					op uw eigen computer. De informatie die, bijvoorbeeld door
					middel van cookies, door mijn-menu.nl en/of derden wordt
					verzameld kan voor de volgende doeleinden worden gebruikt:
				</p>

				<div class="single-feature padding">
					<div class="feature-icon">
						<div class="icon icon-shape white-text">
							<i
								class="fa fa-arrow-right fa-feature-icon mt-1"
							></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>
							Voor analytische doeleinden
						</h5>
						<p class="mb-0">
							om het gebruik van de mijn-menu.nl website te
							analyseren. Voorbeeld: er kan worden bijgehouden
							hoeveel bezoekers een bepaalde webpagina bezoeken,
							zodat weet welke onderdelen van haar website
							populair zijn.
						</p>
					</div>
				</div>
				<div class="single-feature padding">
					<div class="feature-icon">
						<div class="icon icon-shape white-text">
							<i
								class="fa fa-arrow-right fa-feature-icon mt-1"
							></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>
							Voor social media doeleinden, om zo informatie te
							kunnen delen via social media.
						</h5>
						<p class="mb-0">
							Voor promotionele doeleinden: om buiten mijn-menu.nl
							om relevante aanbiedingen te doen over diensten van
							mijn-menu.nl &nbsp;m.v. gepersonaliseerde reclame of
							u te herinneren aan belangrijke momenten of diensten
							wanneer dit mogelijk interessant is.
						</p>
					</div>
				</div>
				<div class="single-feature padding">
					<div class="feature-icon">
						<div class="icon icon-shape white-text">
							<i
								class="fa fa-arrow-right fa-feature-icon mt-1"
							></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>
							Voor personalisatie doeleinden
						</h5>
						<p class="mb-0">
							om bezoekers te voorzien van informatie die relevant
							is. Wij proberen onze site zo goed mogelijk bij uw
							voorkeuren aan te laten sluiten.
						</p>
					</div>
				</div>
				<p>
					Als u de cookies uitschakelt kan het gebeuren dat de
					beleving van de website tegenvalt.
				</p>
			</div>
			<div class="margin-b">
				<h3>Welke cookies gebruikt mijn-menu.nl?</h3>
				<p>
					Zie hieronder een lijst met de cookies die wij gebruiken,
					welke gegevens ze verzamelen en hoe lang ze worden
					gebruikt.&nbsp;Op dit moment worden alle functionele &amp;
					analytische cookies maximaal 26 maanden opgeslagen, tenzij
					anders vermeld.
				</p>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<th>Cookie</th>
						<th>Type</th>
						<th>Duration</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>collect</td>
						<td>Pixel</td>
						<td>Sessie</td>
						<td>
							Gebruikt gegevens om naar Google Analytics te
							verzenden over<br />het apparaatgebruik en het
							gedrag van de bezoeker. Traceert de<br />bezoeker op
							verschillende apparaten en marketingkanalen.
						</td>
					</tr>
					<tr>
						<td>fr</td>
						<td>Marketing</td>
						<td>3 maanden</td>
						<td>
							Gebruikt door Facebook om een reeks van advertenties
							te leveren,<br />zoals realtime bidding van externe
							adverteerders.
						</td>
					</tr>
					<tr>
						<td>tr</td>
						<td>Pixel</td>
						<td>Sessie</td>
						<td>
							Gebruikt om de pixel van Facebook te plaatsen en
							gebruiker te<br />analyseren gedurende de sessie op
							de website.
						</td>
					</tr>
					<tr>
						<td>_ga</td>
						<td>Statistisch</td>
						<td>2 jaar</td>
						<td>
							Geeft een uniek ID dat gebruikt wordt om
							statistische data te genereren<br />voor hoe de
							bezoeker deze website gebruikt.
						</td>
					</tr>
					<tr>
						<td>_gali</td>
						<td>Statistisch</td>
						<td>Sessie</td>
						<td>
							Wordt geplaatst bij inloggen in deze website (niet
							van toepassing)
						</td>
					</tr>
					<tr>
						<td>_gat</td>
						<td>statistisch</td>
						<td>Sessie</td>
						<td>
							Geplaatst &amp; gebruikt door google om aantal
							verbindingsmomenten te verkleinen.
						</td>
					</tr>
					<tr>
						<td>_gid</td>
						<td>Statistisch</td>
						<td>Sessie</td>
						<td>
							Geeft een uniek ID dat gebruikt wordt om
							statistische data te<br />genereren voor hoe de
							bezoeker deze website gebruikt.
						</td>
					</tr>
				</tbody>
			</table>
			<div class="margin-b">
				<h3>Weigeren en verwijderen van cookies</h3>
				<p>
					De eerste keer dat je op de website van mijn-menu.nl landt,
					wordt je gevraagd of je cookies wilt accepteren met de
					melding dat wij (noodzakelijke, statistische &amp; marketing
					cookies) gebruiken en dat u bij gebruik van de website
					akkoord gaat. Indien je geen respons geeft worden cookies
					toch geplaatst, tenzij jij jezelf voor afmeldt.
				</p>
				<p>
					Indien je toch wilt uitschrijven voor (niet noodzakelijke)
					cookies dan lees je hieronder hoe dit te doen:
				</p>
				<ol class="ordered-list l-padding">
					<li class="xs-padding">
						<strong>Desktop</strong>: ga met de muis naar de
						linkeronderkant van het scherm op de Privacy / Cookie
						pagina.
					</li>
					<li class="xs-padding">
						Klik linksonder op de kleine pop-up met de benaming
						“Cookie Policy”
					</li>
					<li class="xs-padding">
						De cookiemelding verschijnt onderaan het scherm.
					</li>
					<li class="xs-padding">
						Klik op “alleen functioneel” helemaal rechts van de
						cookiemelding.
					</li>
					<li class="xs-padding">
						Uw cookievoorkeuren zijn gewijzigd / opgeslagen.
					</li>
					<li class="xs-padding">
						Eventueel kun je de (eerdere) cookies uit de browser
						verwijderen. Wil je deze verwijderen via de gebruikte
						browser; dan lees je&nbsp;<a
							href="https://www.browserchecker.nl/cookies-verwijderen-instellen"
							target="_blank"
							rel="nofollow noopener noreferrer"
							>hier</a
						>&nbsp;hoe je dat doet.
					</li>
				</ol>
			</div>
			<h3>Wijzigingen voorbehouden&nbsp;Cookiebeleid</h3>
			<p>
				mijn-menu.nl behoudt zich het recht voor om wijzigingen aan te
				brengen in deze Cookieverklaring. Elke aanpassing zal op deze
				pagina worden gepubliceerd. Wij raden u aan deze
				Cookieverklaring geregeld te raadplegen, zodat u altijd van de
				inhoud van de geldende Cookieverklaring op de hoogte bent.
			</p>
			<p>
				<em>
					Deze Cookieverklaring is voor het laatst gewijzigd op
					18-02-2019 (versie 2.1)
				</em>
			</p>
		</div>
	</div>
</div>
