<div class="container">
	<div
		class="row algin-items-center align-content-center justify-content-center"
	>
		<div class="col-md-12">
			<div class="margin-b">
				<h1 class="entry-title" style="text-align: center;">
					Privacybeleid
				</h1>
				<p>&nbsp;</p>
				<p>
					Mijn Menu, gevestigd aan liesbosweg 166 4872NE Etten-Leur,
					is verantwoordelijk voor de verwerking van persoonsgegevens
					zoals weergegeven in deze privacyverklaring.
				</p>
				<p>
					Mijn Menu neemt grote verantwoording voor de veilige
					verwerking en omgang van privacygegevens. Wij zijn ervan
					bewust dat je met het bezoeken van deze website het
					vertrouwen in ons stelt. Wij vinden het noodzaak om uw
					privacy en gegevens te beschermen. In dit privacy statement
					is inzichtelijk gemaakt welke gegevens wij verzamelen
					wanneer je gebruik maakt van onze website. Het privacy
					statement zoals weergeven is enkel van toepassing op de
					diensten van Mijn Menu.
				</p>
				<p>
					Contactgegevens:
				</p>
				<p>mijn-menu.nl - Mijn Menu V.O.F</p>
				<p>liesbosweg 166 4872NE Etten-Leur</p>
				<p>+31 6 48 80 17 88</p>
				<p>
					Sylvan Reinieren, Chananja Verhoog & Willem Dekkers zijn de
					Functionarissen Gegevensbescherming van Mijn Menu. Wij zijn
					te bereiken via info@mijn-menu.nl
				</p>
			</div>
			<div class="margin-b">
				<h3>Gebruikersvoorwaarden</h3>
				<p>Laatste update: 25 Februari 2019</p>
				<p>
					Deze Gebruikersvoorwaarden en het privacy beleid vormen uw
					overeenkomst met Mijn Menu VOF (indien u een
					restauranthouder bent die reserveringen aanvaardt via de
					Website Mijn-Menu Die bepalingen zijn samen met de algemene
					gebruikers- en verkoopsvoorwaarden en de bijzondere
					voorwaarden van toepassing vanaf uw registratie. Lees ze
					grondig door; deze bepalingen zijn bindend van zodra u de
					Website:
					<a href="http://mijn-menu.nl/">http://mijn-menu.nl/</a>
					gebruikt.
				</p>
				<p>
					Opgelet: Indien u niet akkoord gaat met alle of enkele
					Gebruikersvoorwaarden dient u de Website van Mijn Menu niet
					te gebruiken.
				</p>
			</div>
			<div class="margin-b">
				<h4 class="text-uppercase">
					DEEL 1. Algemene gebruikersvoorwaarden
				</h4>
				<p class="text-decoration text-bold">Definities</p>
				<p>"VOF" verwijst naar het bedrijf Mijn Menu VOF.</p>
				<p>
					"Website Mijn-Menu" verwijst naar alle desktop- en mobiele
					websites die via
					<a href="http://mijn-menu.nl/">"http://mijn-menu.nl/"</a> en
					de applicaties voor mobiele apparaten van Mijn-menu
					geraadpleegd kunnen worden.
				</p>
				<p>
					"App Mijn-Menu" verwijst naar de mobiele applicatie die via
					de AppStore & Playstore geraadpleegd kunnen worden.
				</p>
				<p>
					"Gebruiker" verwijst naar elk individu van 18 jaar of ouder
					dat in staat is om contracten af te sluiten en de Website
					Mijn Menu bezoekt en/of een account op de Website Mijn-Menu
					heeft. Meervoud: “Gebruikers”.
				</p>
				<p>
					"Gebruikersvoorwaarden" verwijst naar de algemene
					Gebruikersvoorwaarden en alle bijzondere
					Gebruikersvoorwaarden.
				</p>
				<p>
					"Restaurantgegevens" verwijst naar alle gegevens over het
					restaurant die door de restauranthouder aan Mijn Menu VOF
					doorgegeven zijn of die middels akkoord van de
					restauranthouder door Mijn Menu VOF op de Website Mijn-Menu
					geplaatst worden. Voorbeelden hiervan zijn prijzen van eten
					en drinken, gemiddelde prijs van een maaltijd, de naam van
					de chef-kok, beschikbaarheid, het menu, de kalender,
					restaurantthema’s en foto’s van het restaurant.
				</p>
				<p>
					"Gebruikersinhoud" verwijst naar alle elementen die door de
					Gebruiker op de Website Mijn-Menu vermeld worden, inclusief
					tekst, documenten, afbeeldingen, foto’s, beoordelingen of
					recht op antwoord.
				</p>
			</div>
			<div class="margin-b">
				<p class="text-decoration text-bold">
					Aanvaarding en wijziging van de Gebruikersvoorwaarden
				</p>
				<p>
					Mijn Menu VOF biedt Gebruikers een online zoekservice en
					reserveringsdienst aan onder voorbehoud van de
					onvoorwaardelijke aanvaarding van deze
					Gebruikersvoorwaarden.
				</p>
				<p>
					Gebruikers verklaren en erkennen dat ze deze
					Gebruikersvoorwaarden volledig hebben gelezen. Bovendien
					leidt het gebruik van eender welke aangeboden dienst op de
					Website Mijn-Menu tot een onvoorwaardelijke aanvaarding van
					deze Gebruikersvoorwaarden door de Gebruiker.
				</p>
				<p>
					Mijn Menu VOF behoudt zich het recht voor om deze
					Gebruikersvoorwaarden te allen tijde geheel of gedeeltelijk
					te wijzigen. Het behoort dan ook tot de verantwoordelijkheid
					van de Gebruiker om regelmatig de meest recente versie van
					de Gebruikersvoorwaarden te controleren. Die versie wordt
					gepubliceerd op de Website Mijn-Menu. Gebruikers worden
					geacht deze laatste versie te aanvaarden bij elk gebruik van
					de Website Mijn-Menu.
				</p>
				<p>
					Door Website Mijn-Menu om op het even welke manier te
					raadplegen en te gebruiken, aanvaardt de Gebruiker deze
					algemene Gebruikersvoorwaarden.
				</p>
			</div>

			<div class="margin-b">
				<p class="text-decoration text-bold">
					1. Beschrijving van de Website Mijn-Menu
				</p>
				<p>
					Het gebruik van de Website Mijn-Menu is onderhevig aan
					aansprakelijkheidsbeperkingen jegens Mijn Menu VOF . Zie
					artikel 8 ‘Aansprakelijkheidsbeperking’ voor bijkomende
					informatie.
				</p>

				<p class="text-decoration text-bold kt-font-14">
					1.1 Voorstelling platform
				</p>
				<p>
					De Website Mijn-Menu is een platform dat de Gebruiker de
					mogelijkheid geeft om, naast andere functionaliteiten,
					contact op te nemen met de restaurants die op de Website
					Mijn-Menu te vinden zijn. In dat opzicht treedt Mijn Menu
					VOF dan ook louter op als een tussenpersoon indien de
					Gebruiker een tafel reserveert in een van de betreffende
					restaurants.
				</p>

				<p class="text-decoration text-bold kt-font-14">
					1.2 In real time een tafel in een restaurant zoeken en
					reserveren
				</p>
				<p>
					De Website Mijn-Menu geeft de Gebruiker de mogelijkheid om
					in real time een tafel in een restaurant te reserveren en te
					zoeken. De Website Mijn-Menu geeft Gebruikers ook de
					mogelijkheid om hun reservering te annuleren indien er
					onvoorziene omstandigheden optreden.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					1.3 Promoties van restaurants op de Website /app Mijn-Menu
				</p>
				<p>
					De Gebruiker kan enkel en alleen genieten van promoties die
					worden aangeboden door de restaurants die op de Website of
					in de App van Mijn-Menu te vinden zijn, als er gereserveerd
					wordt via de Website Mijn-Menu. Niet alle restaurants bieden
					promoties aan. De geldigheidsvoorwaarden van die promoties
					worden vermeld op de Website Mijn-Menu. De Gebruiker houdt
					zich eraan om de geldigheidsvoorwaarden van een promotie te
					controleren alvorens te reserveren via de Website en zal in
					geen enkel geval aanspraak kunnen maken op de voordelen van
					de promotie indien er niet voldaan is aan de
					geldigheidsvoorwaarden die op Website Mijn-Menu vermeld
					worden en/of indien de reserveringsprocedure van de promotie
					niet gevolgd wordt.
				</p>
				<p>
					Een geldigheidsvoorwaarde is dat de Gebruiker en zijn
					genodigden in het restaurant aanwezig moeten zijn op het
					tijdstip dat door de Gebruiker gereserveerd werd. Indien een
					Gebruiker en zijn/haar gasten vijftien minuten na het
					gereserveerde tijdstip niet aanwezig zijn, kan het
					restaurant ervoor kiezen om de promotie niet toe te passen
					voor de Gebruiker en zijn genodigden. Met andere woorden,
					indien de Gebruiker of een van zijn genodigden meer dan 15
					minuten te laat is, verliest elke persoon automatisch het
					voordeel van de promotie en kan het restaurant beslissen om
					de promotie al dan niet toe te passen voor alle of enkele
					gasten.
				</p>

				<p class="text-decoration text-bold kt-font-14">
					1.4 Betalingen en afrekenen
				</p>
				<p>
					De Website Mijn-Menu geeft de Gebruiker(s) de mogelijkheid
					om in real-time de rekening aan te passen.
				</p>
				<p>
					De Website en app Mijn-Menu geeft Gebruikers ook de
					mogelijkheid de reservering, bestelling en betaling vooraf
					te doen In dat opzicht treedt Mijn Menu VOF dan ook op als
					een tussenpersoon indien de Gebruiker een tafel reserveert
					en of betaalt via Mijn-Menu in een van de betreffende
					restaurants.
				</p>
			</div>

			<div class="margin-b">
				<p class="text-decoration text-bold">
					2. Gratis gebruik van de Website Mijn-Menu
				</p>
				<p>
					De aangeboden diensten op de Website Mijn-Menu zijn meestal
					gratis. Er kunnen tarieven aangerekend worden indien er
					veranderingen worden aangebracht in de aangeboden diensten,
					de evolutie van het netwerk, de techniek en/of wettelijke
					vereisten. Gebruikers zullen hierover naar behoren worden
					geïnformeerd middels een aanvulling op deze
					Gebruikersvoorwaarden en/of via de toevoeging van bijzondere
					voorwaarden betreffende de betaalde diensten op de Website
					Mijn-Menu.
				</p>
			</div>
			<div class="margin-b">
				<p class="text-decoration text-bold">
					3. Websites en diensten van derde partijen
				</p>
				<p class="text-decoration text-bold kt-font-14">
					3.1 Diensten aangeboden door derde partijen
				</p>
				<p>
					Gebruikers erkennen echter dat de Website Mijn-Menu
					doorverwijst naar betaalde diensten. Elke reservering op de
					Website Mijn-Menu verwijst naar een restaurantdienst die
					aangeboden wordt door een restauranthouder (derde partij) en
					betalend is.
				</p>
				<p>
					Elke prijs of prijsklasse betreffende de diensten van een
					restauranthouder die op de Website Mijn-Menu geplaatst
					wordt, dient louter ter informatie en voor het gemak van de
					Gebruiker. In geen enkel geval kan Mijn Menu VOF de
					juistheid van die gegevens garanderen.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					3.2 Koppelingen naar de websites van derden
				</p>
				<p>
					De Website Mijn-Menu kan koppelingen bevatten naar websites
					die beheerd worden door derden. De koppelingen dienen
					uitsluitend voor informatieve doeleinden. Mijn Menu VOF
					voert geen controle uit op die websites en is niet
					verantwoordelijk voor hun inhoud of voor het privacybeleid
					of andere werkwijzen van die websites. Het weergeven van
					koppelingen naar dergelijke websites kan niet gezien worden
					als een goedkeuring van die websites noch als een mogelijke
					relatie met de publiceerders van die websites. Het is de
					verantwoordelijkheid van de Gebruiker om noodzakelijke
					geachte of gepaste controles uit te voeren vooraleer hij die
					websites gebruikt of transacties uitvoert met een van die
					websites.
				</p>
			</div>

			<div class="margin-b">
				<p class="text-decoration text-bold">
					4. Toegang en gebruik van de Website Mijn-Menu
				</p>
				<p class="text-decoration text-bold kt-font-14">
					4.1 Toelatingsvoorwaarden
				</p>
				<p>
					Het gebruik van de Website Mijn-Menu is onderhevig aan de
					volgende cumulatieve toelatingsvoorwaarden: als een
					Gebruiker (i) bent u minstens 18 jaar oud; (ii) hebt u de
					juridische bevoegdheid om mee te delen dat u gebonden bent
					aan wettelijke verplichtingen; (iii) en kunt u bevestigen
					dat de reserveringen die u plaatst op de Website Mijn-Menu
					voor u of elke andere persoon waar u wettelijk gerechtigd
					voor bent, wettelijk zijn.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					4.2 Toegang tot de Website Mijn-Menu
				</p>
				<p>
					Mijn Menu VOF behoudt zich het recht voor om zonder
					voorafgaande kennisgeving alle of bepaalde onderdelen van de
					Website Mijn-Menu of diensten die aangeboden worden op de
					website te schrappen, verwijderen of wijzigen. Mijn Menu VOF
					behoudt zich ook het recht voor om op elk mogelijk moment in
					geval van onderhoud, noodgeval (cyberaanval, enz.) de
					toegang tot de Website Mijn-Menu voor alle of bepaalde
					Gebruikers te ontzeggen.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					4.3 Voorwaarden om een account te openen
				</p>
				<p>
					Door een account te openen, aanvaardt de Gebruiker
					uitdrukkelijk en onvoorwaardelijk deze Gebruiksvoorwaarden.
					Gebruikers verbinden zich ertoe om correcte,
					waarheidsgetrouwe en recente informatie door te geven, in
					het bijzonder met betrekking tot hun aanspreking,
					achternaam, voornaam, e-mailadres en telefoonnummer. Die
					gegevens zijn noodzakelijk voor een juiste identificatie met
					betrekking tot het openen en onderhouden van hun account.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					4.4 Vertrouwelijkheid van de logingegevens
				</p>
				<p>
					Bij het aanmaken van een account kiezen Gebruikers een
					gebruikersnaam en een wachtwoord ("logingegevens") die hen
					toegang geven tot hun account.
				</p>
				<p>
					De logingegevens zijn persoonlijk en vertrouwelijk. Ze
					kunnen enkel gewijzigd worden op vraag van de betreffende
					Gebruiker of op initiatief van Mijn Menu VOF .
				</p>
				<p>
					Gebruikers zijn uitsluitend en als enige verantwoordelijk
					voor het gebruik van hun account en de betreffende
					logingegevens. Ze zullen al het nodige doen om hun
					logingegevens geheim te houden en ze op geen enkele manier
					kenbaar te maken aan derden.
				</p>
				<p>
					Bij verlies of diefstal van de logingegevens is de Gebruiker
					aansprakelijk voor alle gevolgen die te wijten zijn aan dat
					verlies of die diefstal. De Gebruiker moet zo snel mogelijk
					de procedure opstarten om zijn logingegevens te wijzigen.
					Die procedure kan worden geraadpleegd op het volgende adres:
					<a href="https://www.mijn-menu.nl/auth/forgot-password">
						https://www.mijn-menu.nl/auth/forgot-password </a
					>.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					4.5 Account afsluiten
				</p>
				<p>
					Gebruikers kunnen op elk moment hun account afsluiten. Ze
					dienen hiervoor een aanvraag via e-mail te sturen naar het
					volgende adres: info@mijn-menu.nl.
				</p>
				<p>
					Mijn Menu VOF zal alle aanvragen om een account af te
					sluiten binnen een redelijke termijn behandelen.
				</p>
				<p>
					Wanneer een account afgesloten wordt, kunnen Gebruikers niet
					langer genieten van de aangeboden diensten van Mijn Menu
					VOF. Verder worden hun huidige reserveringen geannuleerd en
					mogelijke gespaarde punten i.v.m. acties worden verwijderd.
				</p>
				<p class="text-decoration text-bold kt-font-14">
					4.6 Verplichtingen voor Gebruikers – Verboden handelingen
				</p>
				<p>
					Gebruikers gaan akkoord om de Website Mijn-Menu te gebruiken
					in overeenstemming met deze Gebruikersvoorwaarden en de
					geldende wetgeving. In het bijzonder gaan Gebruikers akkoord
					om afstand te doen van de volgende verboden handelingen:
				</p>
				<ul class="list-style-disc l-padding-h">
					<li class="s-padding">
						Niet naar het restaurant gaan zonder de reservering te
						annuleren (no-show).
					</li>
					<li class="s-padding">
						De inhoud en gegevens van de Website Mijn-Menu
						(inclusief maar niet beperkt tot berichten, gegevens,
						informatie, tekst, muziek, geluid, foto’s, afbeeldingen,
						kaarten, iconen, software, codes of elk ander element),
						samen met de infrastructuur die gebruikt wordt om
						dergelijke inhoud en informatie aan te bieden, behoort
						toe aan Mijn Menu VOF . Gebruikers gaan ermee akkoord om
						de informatie, software, producten of diensten van de
						Website Mijn-Menu niet te verkopen, door te verkopen,
						bewerken, kopiëren, verdelen, verzenden, tonen,
						vergunnen, beschikbaar te maken of er afgeleide werken
						van te maken.
					</li>
					<li class="s-padding">
						Het volledig of gedeeltelijk kopiëren, verzenden,
						reproduceren, opnieuw publiceren of opnieuw verdelen van
						de inhoud van de Website Mijn-Menu, zonder voorafgaande
						schriftelijke toestemming van Mijn Menu VOF , is strikt
						verboden. Om die toestemming te verkrijgen, moet er
						contact opgenomen worden met Mijn Menu VOF op het
						volgende adres:
					</li>
					<p>Mijn Menu VOF</p>
					<p>Liesbosweg 166 4872NE, Etten-Leur te Nederland</p>
					<p>Verder verbinden de Gebruikers zich ertoe om:</p>
					<li class="s-padding">
						de Website Mijn-Menu of de inhoud niet te gebruiken voor
						illegale, onwettelijke of bedrieglijke doeleinden;
					</li>
					<li class="s-padding">
						geen gegevens over de Gebruiker of de restauranthouder
						op de Website Mijn-Menu te plaatsen indien die gegevens
						niet correct, onwettig en in strijd met de
						privacywetgeving zijn of indien die gegevens beledigend,
						aanstootgevend of beledigend zijn of indien die gegevens
						oproepen tot haat of geweld of indien de Gebruikers niet
						over de intellectuele eigendomsrechten beschikken of de
						uitdrukkelijke toestemming van de houder van die rechten
						niet verkregen hebben;
					</li>
					<li class="s-padding">
						geen gebruik te maken van een robot, spider, scraper,
						spyware, keylogger of elk ander programma, automatisch
						toestel of manueel proces om de infrastructuur, inhoud
						of gegevens van de Website Mijn-Menu of handelingen van
						een Gebruiker op de Website Mijn-Menu te gebruiken,
						controleren, overnemen of kopiëren;
					</li>
					<li class="s-padding">
						te respecteren dat bepaalde delen van de Website
						Mijn-Menu afgeschermd zijn van zoekrobots en dat
						bepaalde maatregelen die bedoeld zijn om de toegang tot
						de Website Mijn-Menu te beperken of voorkomen niet
						omzeild mogen worden;
					</li>
					<li class="s-padding">
						geen handelingen uit te voeren die de infrastructuur van
						de Website Mijn-Menu (kunnen) overbelasten;
					</li>
					<li class="s-padding">
						voor om het even welke reden geen onzichtbare link met
						de Website Mijn-Menu te maken;
					</li>
					<li class="s-padding">
						geen gedeelte van de Website Mijn-Menu "in te bouwen",
						"te weerspiegelen" of over te nemen op om het even welke
						andere website;
					</li>
					<li class="s-padding">
						geen poging te ondernemen om elk mogelijk
						softwareprogramma dat door Mijn Menu VOF gebruikt wordt
						voor de Website Mijn-Menu of zijn diensten te wijzigen,
						vertalen, aan te passen, bewerken, om te zetten,
						ontleden of om te bouwen.
					</li>
				</ul>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<th>Cookie</th>
						<th>Type</th>
						<th>Duration</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>collect</td>
						<td>Pixel</td>
						<td>Sessie</td>
						<td>
							Gebruikt gegevens om naar Google Analytics te
							verzenden over<br />het apparaatgebruik en het
							gedrag van de bezoeker. Traceert de<br />bezoeker op
							verschillende apparaten en marketingkanalen.
						</td>
					</tr>
					<tr>
						<td>fr</td>
						<td>Marketing</td>
						<td>3 maanden</td>
						<td>
							Gebruikt door Facebook om een reeks van advertenties
							te leveren,<br />zoals realtime bidding van externe
							adverteerders.
						</td>
					</tr>
					<tr>
						<td>tr</td>
						<td>Pixel</td>
						<td>Sessie</td>
						<td>
							Gebruikt om de pixel van Facebook te plaatsen en
							gebruiker te<br />analyseren gedurende de sessie op
							de website.
						</td>
					</tr>
					<tr>
						<td>_ga</td>
						<td>Statistisch</td>
						<td>2 jaar</td>
						<td>
							Geeft een uniek ID dat gebruikt wordt om
							statistische data te genereren<br />voor hoe de
							bezoeker deze website gebruikt.
						</td>
					</tr>
					<tr>
						<td>_gali</td>
						<td>Statistisch</td>
						<td>Sessie</td>
						<td>
							Wordt geplaatst bij inloggen in deze website (niet
							van toepassing)
						</td>
					</tr>
					<tr>
						<td>_gat</td>
						<td>statistisch</td>
						<td>Sessie</td>
						<td>
							Geplaatst &amp; gebruikt door google om aantal
							verbindingsmomenten te verkleinen.
						</td>
					</tr>
					<tr>
						<td>_gid</td>
						<td>Statistisch</td>
						<td>Sessie</td>
						<td>
							Geeft een uniek ID dat gebruikt wordt om
							statistische data te<br />genereren voor hoe de
							bezoeker deze website gebruikt.
						</td>
					</tr>
				</tbody>
			</table>
			<div class="margin-b">
				<h3>Weigeren en verwijderen van cookies</h3>
				<p>
					De eerste keer dat je op de website van mijn-menu.nl landt,
					wordt je gevraagd of je cookies wilt accepteren met de
					melding dat wij (noodzakelijke, statistische &amp; marketing
					cookies) gebruiken en dat u bij gebruik van de website
					akkoord gaat. Indien je geen respons geeft worden cookies
					toch geplaatst, tenzij jij jezelf voor afmeldt.
				</p>
				<p>
					Indien je toch wilt uitschrijven voor (niet noodzakelijke)
					cookies dan lees je hieronder hoe dit te doen:
				</p>
				<ol class="ordered-list l-padding">
					<li class="xs-padding">
						<strong>Desktop</strong>: ga met de muis naar de
						linkeronderkant van het scherm op de Privacy / Cookie
						pagina.
					</li>
					<li class="xs-padding">
						Klik linksonder op de kleine pop-up met de benaming
						“Cookie Policy”
					</li>
					<li class="xs-padding">
						De cookiemelding verschijnt onderaan het scherm.
					</li>
					<li class="xs-padding">
						Klik op “alleen functioneel” helemaal rechts van de
						cookiemelding.
					</li>
					<li class="xs-padding">
						Uw cookievoorkeuren zijn gewijzigd / opgeslagen.
					</li>
					<li class="xs-padding">
						Eventueel kun je de (eerdere) cookies uit de browser
						verwijderen. Wil je deze verwijderen via de gebruikte
						browser; dan lees je&nbsp;<a
							href="https://www.browserchecker.nl/cookies-verwijderen-instellen"
							target="_blank"
							rel="nofollow noopener noreferrer"
							>hier</a
						>&nbsp;hoe je dat doet.
					</li>
				</ol>
			</div>
			<h3>Wijzigingen voorbehouden&nbsp;Cookiebeleid</h3>
			<p>
				mijn-menu.nl behoudt zich het recht voor om wijzigingen aan te
				brengen in deze Cookieverklaring. Elke aanpassing zal op deze
				pagina worden gepubliceerd. Wij raden u aan deze
				Cookieverklaring geregeld te raadplegen, zodat u altijd van de
				inhoud van de geldende Cookieverklaring op de hoogte bent.
			</p>
			<p>
				<em>
					Deze Cookieverklaring is voor het laatst gewijzigd op
					18-02-2019 (versie 2.1)
				</em>
			</p>
		</div>
	</div>
</div>
