.grey-slot {
  &:hover {
    cursor: pointer;
    background: #eeeded;
  }
}
.datepicker-form-field {
  position: relative;
  top: -30px;

  .mat-form-field-wrapper {
  }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
