<!--    header Section-->
<section class="hero the_app">
	<div class="container">
		<div
			class="row align-content-center align-items-center justify-content-center"
		>
			<div class="col-md-12">
				<div class="hero-content-wrap">
					<div class="hero-text-content">
						<h4>
							Scan, Bestel, Betaal en Geniet.
						</h4>
						<p>Laat uw gasten bestellen wanneer ze maar willen.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--        shape-->
	<div class="section-shape">
		<img
			src="assets/media/landing-page-imgs/waves-shape.svg"
			alt="shape image"
		/>
	</div>
</section>
<!--    Hero Section End-->
<section class="App">
	<div class="container">
		<div
			class="row align-items-center align-content-center justify-content-center"
		>
			<div class="col-md-4" [@slideInLeft]="slideInLeft">
				<div class="feature_image text-center">
					<img
						src="assets/media/landing-page-imgs/the-app-mockup.svg"
						alt="The App Mockup"
						class="img-fluid"
					/>
				</div>
			</div>
			<div class="col-md-5" [@slideInRight]="slideInRight">
				<div class="section-heading text-left">
					<h3><span class="color-heading">Mijn Menu</span> App</h3>
					<p>Mobiel Reserveren, Bestellen en Betalen</p>
				</div>
				<div class="text mb-4">
					<p class="mb-3">
						Mijn Menu is een online platform dat fungeert als
						enerzijds een marketing outlet voor restaurants.
						Anderzijds als een functionele horeca app waardoor
						gebruikers kunnen reserveren, bestellen, rekening delen,
						betalen en meer.
					</p>

					<p class="mb-3">
						Voor de <b>Horecaondernemer</b> zorgt mijn menu dat het
						personeel efficiënter ingezet kan worden. Doordat de
						klant zelf zijn eten besteld en betaald zullen de
						foutieve bestelling een stuk minder worden. Het is een
						feit dat horecapersoneel onder hoge werkdruk staat. Dit
						resulteert in stress op de werkvloer. Dit zorgt voor een
						hoog verloop en veel opleidingskosten. Omdat Mijn Menu
						een stuk verantwoordelijkheid neerlegt bij de gebruiker
						zal uw personeel meer tijd hebben.
					</p>
					<div class="color-primary mb-4">
						"Mijn Menu is uw digitale ober niet voor even maar voor
						het leven."
					</div>
					<p>
						De <b>Gebruiker</b> zal de vele voordelen ervaren met
						het gebruik van Mijn Menu.
						<span class="color-primary">Direct </span> toegang tot
						de menukaart en meteen je gekozen hapje of drankje
						bestellen.
					</p>

					<!-- <div class="color-primary mt-4">
						Mijn Menu is altijd beschikbaar, waardoor al uw klanten
						geholpen kunnen worden,
					</div> -->
				</div>
				<hr />
				<!-- <div class="payment_image mt-4 text-center">
					<img
						src="assets/media/landing-page-imgs/Payment_gateway.svg"
						alt="Payment Gate way"
						class="img-fluid"
					/>
				</div> -->
			</div>
		</div>
	</div>
</section>
<!--    App end-->
<div
	id="video-app"
	class="video-app-1"
	style="background: url('assets/media/landing-page-imgs/background_video_pizza.svg') no-repeat center center / cover"
>
	<div class="overlay-1">
		<div class="container">
			<div
				class="row align-items-center justify-content-center align-content-center"
			>
				<div class="col-md-8">
					<div class="section-heading text-center">
						<h3 class="mb-4">
							<span class="color-heading">
								Makkelijk
							</span>
							in gebruik met vele voordelen
						</h3>
						<p>
							Mijn Menu is altijd beschikbaar, waardoor al uw
							klanten geholpen kunnen worden
						</p>
					</div>
					<div class="iframe">
						<iframe
							id="ytplayer"
							type="text/html"
							src="https://www.youtube.com/embed/oDSqdOJzU5I"
							frameborder="0"
							allowfullscreen
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end overlay -->
</div>

<!--    End of Video-->
<section class="increase-turn-over mb-5">
	<div class="container">
		<div
			class="row align-items-center justify-content-center align-content-center"
		>
			<div class="col-md-4 mt-3 mb-3">
				<div class="in-feature-img">
					<img
						src="assets/media/landing-page-imgs/increase-sale.svg"
						alt="Incase your sale"
						class="img-fluid"
					/>
				</div>
			</div>
			<div class="col-md-6 mt-3 mb-3">
				<div class="in-feature-content">
					<h3>
						Bevorder impulsief bestelgedrag!
					</h3>
					<p>
						Gasten hebben met behulp van Mijn Menu altijd inzicht in
						het Menu. Kapotte of onleesbare menu’s zijn geen
						probleem meer! Daarnaast kun je zelf maaltijden en
						dranken bestellen waardoor impulsief bestelgedrag wordt
						bevorderd.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--    End of Incrase in Sale-->

<section class="help-your-guest">
	<div class="phone-image-help">
		<img
			src="assets/media/landing-page-imgs/front-mockup.svg"
			alt=""
			class="img-fluid"
		/>
	</div>
	<div class="help-container">
		<div class="container">
			<div
				class="row align-items-center align-content-center justify-content-center"
			>
				<div class="col-md-4">
					<div class="help-guest-text">
						<h3>
							Zet uw personeel efficiënter in met behulp van Mijn
							Menu.
						</h3>
						<p>
							Het is een feit dat er chronisch personeelstekort is
							in de Horeca. Dit resulteert in hoge werkdruk &
							stress op de werkvloer. Met Mijn Menu heeft u een
							ober niet voor even maar voor het leven. .
						</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<img
						src="assets/media/landing-page-imgs/front-mockup.svg"
						alt=""
						class="img-fluid hide-on-big"
					/>
				</div>
				<div class="col-md-4">
					<div class="help-guest-text">
						<h3>Intergratie met uw huidige POS Systeem.</h3>
						<p>
							Uw huidige kassa-systeem kan geïntegreerd worden met
							Mijn Menu. Dit betekent dat u uw huidige
							kassasysteem en technologie volledig kunt behouden
							en kunt blijven werken zoals u dat gewend bent!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
