<kt-portlet [class]="'kt-portlet--height-fluid'" tourAnchor="testId">
	<kt-portlet-header
		[title]="'COMMON.ORDER_STATS' | translate"
		class="n-border"
	>
		<ng-container ktPortletTools>
			<kt-context-menu2
				[class]="'btn-label-brand'"
				[title]="selectedFilter"
				[menuItems]="filters"
				(menuItemClicked)="filerBySelection($event)"
			></kt-context-menu2>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div *ngIf="showDateFilter" class="row">
			<div class="col-2 offset-10">
				<mm-graph-date-filter
					[selectedFilter]="selectedFilter"
					(filterSelected)="filterGraphData($event)"
				></mm-graph-date-filter>
			</div>
		</div>
		<kt-widget12
			*ngIf="graphData"
			[data]="graphData"
			[euro]="true"
		></kt-widget12>
	</kt-portlet-body>
</kt-portlet>
