<!--    header Section-->
<section class="hero landing-page-cont">
	<div class="container">
		<div
			class="row align-content-center align-items-center justify-content-center"
		>
			<div class="col-md-6" [@slideInLeft]="slideInLeft">
				<div class="hero-content-wrap">
					<div class="hero-text-content">
						<h5>Mijn Menu</h5>
						<h3 class="home-page-header">
							Een gezellig dagje weg, begint en eindigt met Mijn
							Menu
						</h3>
						<p>
							Mijn Menu is een jonge onderneming die in het leven
							is geroepen voor zowel consument als
							horecagelegenheid. De Mijn Menu app is ontwikkeld
							zodat consumenten in de omgeving kunnen oriënteren
							qua horecagelegenheden maar ook het menu inzien.
							Daarnaast kunnen klanten bestellen & betalen binnen
							één app op een telefoon.
						</p>
						<p>
							Anderzijds is Mijn Menu de trouwe werknemer waar een
							horecagelegenheid van droomt. Mijn Menu kan uw
							personeel ondersteunen door taken van serveerders te
							digitaliseren en in de handen van uw consument te
							leggen. Vraag nu naar een
						</p>
						<p>
							gratis demo!
						</p>
						<div class="hero-action-button">
							<a
								href="#"
								class="btn btn-white btn-rounded btn-shadow google-button"
							>
								<div class="action-button-icon">
									<img
										src="assets/media/landing-page-imgs/gicon.png"
										alt="Google Play Store"
										class="img-fluid"
									/>
								</div>
								<div class="hero-button-text">
									<h6>
										<small>Android App On</small
										><br />Google Play
									</h6>
								</div>
							</a>
							<a
								href="#"
								class="btn btn-white btn-rounded btn-shadow iphone-button"
							>
								<div class="action-button-icon">
									<i
										class="fa fa-apple"
										style="color: #AAAAAA;"
									></i>
								</div>
								<div class="hero-button-text">
									<h6>
										<small>iOS App on</small><br />AppStore
									</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6" [@slideInRight]="slideInRight">
				<div class="hero-img">
					<img
						src="assets/media/landing-page-imgs/Hero-phone.png"
						alt="Hero Image Iphone"
						class="img-fluid"
					/>
				</div>
			</div>
		</div>
	</div>
	<!--        shape-->
	<div class="section-shape">
		<img
			src="assets/media/landing-page-imgs/waves-shape.svg"
			alt="shape image"
		/>
	</div>
</section>
<!--    Hero Section Completed-->

<section class="home-features">
	<div class="container">
		<div class="row">
			<div class="col-md-12" [@slideInUp]="slideInUp">
				<div class="section-heading text-center">
					<h3>
						<span class="color-heading">Mijn Menu</span> Features
					</h3>
					<p>Going out for Dinner starts and ends with my Menu</p>
				</div>
			</div>
		</div>
		<div
			class="row align-items-center justify-content-center align-content-center"
		>
			<div class="col-md-4" [@slideInLeft]="slideInLeft">
				<div class="single-feature">
					<div class="feature-icon">
						<div class="icon icon-shape bg-color white-text">
							<i
								class="mijn icon-covered-food-tray-on-a-hand-of-hotel-room-service"
							></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>Menselijke fouten verminderen</h5>
						<p class="mb-0">
							Uw klant voert de bestelling in waardoor foutieve
							bestellingen verleden tijd zijn.
						</p>
					</div>
				</div>
				<div class="single-feature">
					<div class="feature-icon">
						<div class="icon icon-shape bg-color white-text">
							<i class="mijn icon-calendar"></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>Ontvang reserveringen</h5>

						<p class="mb-0">
							Organiseer en plan uw reserveringen direct vanuit
							het dashboard
						</p>
					</div>
				</div>
				<div class="single-feature">
					<div class="feature-icon">
						<div class="icon icon-shape bg-color white-text">
							<i class="mijn icon-calendar"></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>Organiseer</h5>
						<p class="mb-0">
							Speel in op uw doelgroep<br />d.m.v. kortingen en
							promoties
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4" [@slideInDown]="slideInDown">
				<div class="feature-image text-center">
					<img
						src="assets/media/landing-page-imgs/side-mobile.png"
						class="pos-hcenter img-responsive"
						alt="Login Reponsive"
					/>
				</div>
			</div>
			<div class="col-md-4" [@slideInRight]="slideInRight">
				<div class="single-feature">
					<div class="feature-icon">
						<div class="icon icon-shape bg-color white-text">
							<i class="mijn icon-clock"></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>Efficiënt</h5>
						<p class="mb-0">
							Uw klant kan gelijk bestellen, dit bevordert
							impulsief bestelgedrag. Ideaal voor op het terras.
						</p>
					</div>
				</div>
				<div class="single-feature">
					<div class="feature-icon">
						<div class="icon icon-shape bg-color white-text">
							<i class="mijn icon-icon"></i>
						</div>
					</div>
					<div class="feature-content">
						<h5>Loyalty Program</h5>
						<p class="mb-0">
							Kies of uw klant spaart voor items en kortingen bij
							elke uitgave.
						</p>
					</div>
				</div>
				<div class="single-feature">
					<div class="feature-icon">
						<div class="icon icon-shape bg-color white-text">
							<img
								_ngcontent-xti-c4=""
								alt="logo"
								src="assets/media/landing-page-imgs/logo.png"
								width="40"
							/>
						</div>
					</div>
					<div class="feature-content">
						<h5>De beste ober!</h5>
						<p class="mb-0">
							Mijn Menu staat altijd voor u klaar en neemt nooit
							vrij!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--    home Feature Section Complete-->

<section class="mijn-menu">
	<div class="mijn-menu-right-image"></div>
	<div class="container">
		<div class="col-md-8">
			<div class="section-heading text-left">
				<h3><span class="color-heading">Waarom</span> Mijn Menu?</h3>
				<p>Mijn Menu is er voor u!</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="single-feature">
						<div class="feature-icon">
							<div class="icon icon-shape bg-color white-text">
								<i class="mijn icon-creativity"></i>
							</div>
						</div>
						<div class="feature-content">
							<h5>Menselijke fouten verminderen</h5>
							<p class="mb-0">
								Menselijke fouten verminderen zoals; foutieve
								bestellingen, items niet aangeslagen
							</p>
						</div>
					</div>

					<div class="single-feature">
						<div class="feature-icon">
							<div class="icon icon-shape bg-color white-text">
								<i class="mijn icon-profit"></i>
							</div>
						</div>
						<div class="feature-content">
							<h5>Verhoog je omzet</h5>
							<p class="mb-0">
								Omzet verhogen & impulsief bestelgedrag
								bevorderen.
							</p>
						</div>
					</div>

					<div class="single-feature">
						<div class="feature-icon">
							<div class="icon icon-shape bg-color white-text">
								<i class="mijn icon-analysis"></i>
							</div>
						</div>
						<div class="feature-content">
							<h5>Data inzichtelijk maken</h5>
							<p class="mb-0">
								Door al uw data te verzamelen en inzichtelijk te
								maken bent u volledig op de hoogte van uw
								bedrijfsvoering.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-feature">
						<div class="feature-icon">
							<div class="icon icon-shape bg-color white-text">
								<i class="mijn icon-speedometer"></i>
							</div>
						</div>
						<div class="feature-content">
							<h5>Efficiënt</h5>
							<p class="mb-0">
								Efficiënt indelen van personeel; meer werk
								verzetten met minder personeel.
							</p>
						</div>
					</div>

					<div class="single-feature">
						<div class="feature-icon">
							<div class="icon icon-shape bg-color white-text">
								<i class="mijn icon-stopwatch"></i>
							</div>
						</div>
						<div class="feature-content">
							<h5>Geen wachttijden meer</h5>
							<p class="mb-0">
								Consumenten staan altijd in direct contact met
								uw personeel!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-shape-backgrond"></div>
</section>
<!--    mijn-Menu Section Completed-->
<div
	id="video-app"
	class="video-app-1"
	style="background: url('assets/media/landing-page-imgs/video-play.jpg')no-repeat center center / cover"
>
	<div class="overlay-1">
		<div class="container">
			<div
				class="row align-items-center justify-content-center align-content-center"
			>
				<div class="col-md-12">
					<div class="video-play-button">
						<a
							href="https://www.youtube.com/watch?v=9No-FiEInLA"
							class="video video-play mfp-iframe"
							data-toggle="modal"
							data-target="#video-popup"
						>
							<span class="fa fa-play"></span>
						</a>
					</div>
					<div class="video-text text-center">
						<h3>Watch Our Video Overview</h3>
					</div>
					<div class="video-action-button">
						<a href="#" class="download-btn hover-active">
							<span class="fa fa-mobile"></span>
							<p>
								<small>Available On</small>
								<br />
								App Store
							</p>
						</a>
						<a href="#" class="download-btn hover-active">
							<span class="mijn icon-google-play"></span>
							<p>
								<small>Android App On</small>
								<br />
								Goolge play
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end overlay -->
</div>
<!--        End of vido-->
<section class="what-we-offer">
	<div class="row">
		<div class="col-md-12">
			<div class="section-heading text-center">
				<h3>
					<span class="color-heading">
						Mijn Menu is er voor elke
					</span>
					horeca gelegenheid
				</h3>
				<p>Een gezellig dagje weg begint en eindigt met Mijn Menu.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4  mt-3">
				<div class="offer-box">
					<div class="offer-icon text-center">
						<i class="mijn icon-dish"></i>
					</div>
					<div class="offer-content text-center">
						<h4>Restaurants</h4>
						<p>
							Digitaliseer uw restaurant en creëer extra
							zichtbaarheid voor uw onderneming!
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4  mt-3">
				<div class="offer-box">
					<div class="offer-icon text-center">
						<i class="mijn icon-hotel"></i>
					</div>
					<div class="offer-content text-center">
						<h4>Hotels</h4>
						<p>
							Mijn Menu is geschikt voor zowel roomservice,
							restaurants of bijvoorbeeld bestelservice aan het
							zwembad!
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4  mt-3">
				<div class="offer-box">
					<div class="offer-icon text-center">
						<i class="mijn icon-sofa"></i>
					</div>
					<div class="offer-content text-center">
						<h4>Lounges</h4>
						<p>
							Kun je elkaar niet verstaan door de harde muziek? Is
							het lezen van uw kaart lastig met gedimde lichten?
							Wilt u nooit meer kapotte menukaarten? Mijn Menu is
							er voor u!
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--            End of Row-->
		<div class="row">
			<div class="col-md-4  mt-5">
				<div class="offer-box">
					<div class="offer-icon text-center">
						<i class="mijn icon-desk"></i>
					</div>
					<div class="offer-content text-center">
						<h4>Business Rooms</h4>
						<p>
							Zakelijke diner in een conferentiecentrum? Geen
							probleem! Mijn menu ondersteund uw catering of
							bedrijfsrestaurant!
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4  mt-5">
				<div class="offer-box">
					<div class="offer-icon text-center">
						<i class="mijn icon-happiness"></i>
					</div>
					<div class="offer-content text-center">
						<h4>Terrassen</h4>
						<p>
							Onderbezet op een warme terras dag? Wilt u weglopers
							en wanbetalers tegengaan? Mijn Menu is zo ingesteld
							dat uw wensen en manieren van betalingen worden
							doorgevoerd.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4  mt-5">
				<div class="offer-box">
					<div class="offer-icon text-center">
						<i class="mijn icon-coffee-shop"></i>
					</div>
					<div class="offer-content text-center">
						<h4>Grand Cafe’s</h4>
						<p>
							Op een drukke avond al uw bezoekers helpen? Voorkom
							rijen aan de bar, en laat uw klanten vanaf hun tafel
							bestellen. Mijn Menu werkt snel en simpel!
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--            End of Row-->
	</div>
</section>
<!--  End of   What we offer-->
<section class="app-screenshot">
	<div class="row">
		<div class="col-md-12">
			<div class="section-heading text-center">
				<h3><span class="color-heading">Mijn Menu </span>App</h3>
				<p>Uit eten begint en eindigt met Mijn Menu</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="iphone">
					<img
						src="assets/media/landing-page-imgs/phone.png"
						alt=""
					/>
				</div>
				<div>
					<owl-carousel
						[items]="images"
						[carouselClasses]="[
							'owl-carousel',
							'owl-theme',
							'owl-loaded',
							'owl-drag'
						]"
						[options]="SlideOptions"
					>
						<div class="item" *ngFor="let img of images">
							<div style="align-content: center">
								<img src="{{ img }}" class="app-slide-img" />
							</div>
						</div>
					</owl-carousel>
				</div>
			</div>
		</div>
	</div>
</section>
